<div class="col-sm-4 col-sm-offset-4">   
    <a href="#/posts/allposts"> View all posts</a>
    <div ng-show="vm.error" class="alert alert-danger row">
        <span>{{ vm.error }}</span>
    </div> 
    
    <form name="form" ng-submit="vm.register()" style="margin-top:30px;">
        <h3>Register</h3>

        <p ng-show="form.username.$error.minlength" class="alert-link-red">Username must be greater than 2 characters long.</p>
        <p ng-show="form.username.$error.required && form.username.$dirty" class="alert-link-red">Username must be greater than 2 characters long.</p>
        <div class="form-group">
            <input type="text" 
                name="username" 
                class="form-control" 
                placeholder="Username" 
                ng-model="vm.user.username" 
                ng-minlength="2"
                required>
            </input>
        </div>
        
        <p ng-show="form.password.$error.minlength" class="alert-link-red">Password must be greater than 6 characters long.</p>
        <div class="form-group">
            <input type="password" 
                name="password"
                class="form-control" 
                placeholder="Password" 
                ng-model="vm.user.password"
                ng-minlength="6"
                required>
            </input>
        </div>
       
        <p ng-show="vm.user.password !== vm.user.password_confirm && form.password_confirm.$dirty" class="alert-link-red">Password doesn't match.</p>
        <div class="form-group">
            <input type="password" 
            name="password_confirm" 
            confirm-password 
            password-model="vm.user.password" 
            class="form-control" 
            placeholder="Confirm password" 
            ng-model="vm.user.password_confirm"
            required></input>
        </div>
        
        <p ng-show="form.$error.email" class="alert-link-red">Please enter a valid email address.</p>
        <div class="form-group">
            <input 
                type="email" 
                class="form-control" 
                placeholder="Email" 
                ng-model="vm.user.email"
                required></input>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Register</button>
    </form>
</div>
