/* Import fonts */
/*@import url(https://fonts.googleapis.com/css?family=Ruda:400,700,900);*/

/* latin-ext */
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  src: local('Ruda'), url(https://fonts.gstatic.com/s/ruda/v7/1sL847GoOH8xYu1qOqsKrw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  src: local('Ruda'), url(https://fonts.gstatic.com/s/ruda/v7/T9zdIB5JGDJjRO8KNoV_pA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 700;
  src: local('Ruda Bold'), local('Ruda-Bold'), url(https://fonts.gstatic.com/s/ruda/v7/Cq8KyqhCX-f1J9BsOyq_FvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 700;
  src: local('Ruda Bold'), local('Ruda-Bold'), url(https://fonts.gstatic.com/s/ruda/v7/ioyuq9I92dSCu7pGUbx7zA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 900;
  src: local('Ruda Black'), local('Ruda-Black'), url(https://fonts.gstatic.com/s/ruda/v7/AV-eDyU_-j5hBe_Ff6xI1_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 900;
  src: local('Ruda Black'), local('Ruda-Black'), url(https://fonts.gstatic.com/s/ruda/v7/9WoKvbp3ZUwn9qM5AIuMOg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('/theme/assets/fonts/glyphicons-halflings-regular.eot');
  src: url('/theme/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/theme/assets/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/theme/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/theme/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/* BASIC THEME CONFIGURATION */
body {
    color: #797979 !important;
    background: #f2f2f2 !important;
    font-family: 'Ruda', sans-serif !important;
    padding: 50px 0 0 0 !important;
    margin: 0px !important;
    font-size:13px;
}

#map {
  width: 500px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.row {
	margin-top: 10px;
}

.alert-link-red {
	color: red;
}

.filters-sidebar .nav li a:hover, .filters-sidebar .nav li a:focus {
	border: 1px solid gray;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.navbar-inverse .navbar-nav > li > a {
	color: #B7B6B6;
}

.nav > .filters {
  margin-bottom: 15px;
}

.nav > .filters:hover {
  cursor: pointer;
  opacity: .5;
}

.pagination > li > span:hover {
  cursor: pointer;
}

.advanced-search {
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

@media screen and (max-width: 767px) {
  .nav > .filters {
    display: inline-block;
    margin: 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
