<sidebar-filters-directive posts="vm.posts" posts-for-map="vm.postsForMap"></sidebar-filters-directive>

<div class="col-md-8">
    <header-directive></header-directive>

    <div ng-show="!vm.posts.length" class="alert alert-info">You don't have any posts yet. <br>You can add one from
    "Add post" section on header.</div>

    <div ng-if="vm.posts.length">
        <map styles="[{stylers:[{weight:1}]},
                {elementType:'labels',stylers:[{visibility:'on'}]},
                {featureType:'water',stylers:[{color:'#000'}]}]"
                center="current-location" zoom="5">

            <marker ng-repeat="spot in vm.postsForMap"
                    position="{{spot.loc}}"
                    icon="{{spot.fillColor}}"
                    title="{{spot.title}} {{spot.text}}"
                    on-click="vm.helpers.showInfoWindowOnMouseClick(event, spot)">
            </marker>
        </map>

        <div style="margin-top:30px;margin-bottom:20px">
            <rzslider rz-slider-floor="vm.dateSlider.floor"
                    rz-slider-ceil="vm.dateSlider.ceil"
                    rz-slider-translate="vm.helpers.translate"
                    rz-slider-model="vm.dateSlider.min"
                    rz-slider-high="vm.dateSlider.max"
                    rz-slider-on-end="vm.onSliderChange()">
            </rzslider>
        </div>
        <p ng-click="vm.helpers.toggleAdvancedSearch()" class="advanced-search"> {{vm.helpers.searchTitleActive ? 'Close search boxes' : 'Advanced search'}}</p>
        <span ng-if="vm.helpers.searchTitleActive"
              ng-click="vm.clearFiltersUI({ title: vm.helpers.searchTitle, text: vm.helpers.searchText, type_of_attack: vm.helpers.searchTypeOfAttack })">
              <input type="submit" value="Clear filters" class="btn btn-danger"/>
        </span>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th ng-if="!vm.helpers.searchTitleActive">Title</th>
                        <th ng-if="vm.helpers.searchTitleActive"><input type="text" class="form-control" placeholder="title" ng-model="vm.helpers.searchTitle" /></th>
                        <th ng-if="!vm.helpers.searchTextActive">Text</th>
                        <th ng-if="vm.helpers.searchTextActive"><input type="text" class="form-control" placeholder="text" ng-model="vm.helpers.searchText"/></th>
                        <th ng-if="vm.isLoggedIn">Author</th>
                        <th ng-if="!vm.helpers.searchTypeOfAttackRegExp">Type of attack</th>
                        <th ng-if="vm.helpers.searchTypeOfAttackRegExp"><input type="text" class="form-control" placeholder="type of attack" ng-model="vm.helpers.searchTypeOfAttack"/></th>
                        <th>Date Posted</th>
                        <th></th>
                        <th></th>
                        <th ng-if="vm.helpers.searchTitleActive"><input type="submit" value="Search" class="btn btn-success" ng-click="vm.makeAdvancedSearch({ title: vm.helpers.searchTitle, text: vm.helpers.searchText, type_of_attack: vm.helpers.searchTypeOfAttack })"/></th>
                    </tr>
                </thead>
                <tbody ng-if="!vm.noResultsFound">
                    <tr ng-repeat="post in vm.posts | startFrom: vm.pagination.getCurrentPage() * vm.pagination.getResultsPerPage() | limitTo: vm.pagination.getResultsPerPage()">
                        <td>{{post.title}}</td>
                        <td>{{post.text.substring(0,50)}} ...</td>
                        <td>{{vm.isLoggedInAsAdmin ? post.__user.username : vm.currentUser}}</td>
                        <td>{{post.type_of_attack}}</td>
                        <td>{{post.date | date:'medium'}}</td>
                        <td>
                            <input type="submit" value="View" ui-sref="viewpost({id: post._id})" class="btn btn-primary" />
                        </td>
                        <td ng-if="vm.isLoggedIn">
                            <input type="submit" value="Edit" ui-sref="editpost({id: post._id})" class="btn btn-warning" />
                        </td>
                        <td ng-if="vm.isLoggedIn">
                            <input type="submit" value="Delete" ui-sref="deletepost({id: post._id})" class="btn btn-danger" />
                        </td>
                    </tr>
                </tbody>
                <p ng-if="vm.noResultsFound" class="alert alert-info">No results found!</p>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <ul class="pagination">
                                <li ng-hide="vm.pagination.getCurrentPage() === 0">
                                    <span ng-click="vm.pagination.prevPage()">« Prev</span>
                                </li>
                                <li ng-repeat="n in [] | range: vm.pagination.numOfPages" ng-class="{active: n == vm.pagination.getCurrentPage()}" ng-click="vm.pagination.setCurrentPage(n)">
                                    <span>{{n+1}}</span>
                                </li>
                                <li ng-hide="vm.pagination.getCurrentPage() + 1 >= vm.pagination.numOfPages">
                                    <span ng-click="vm.pagination.nextPage()">Next »</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">About</h4>
                </div>
                <div class="modal-body">
                MapAttack is an application comprising of an interactive map displaying a number of several attacks (verbal attacks, police attacks etc.) focused on these which took place in the broader region of Greece. Influenced by
                </div>
                <div class="modal-footer">
                    Created by panagiop
                </div>
            </div>
        </div>
    </div>
</div>
