<div class="col-md-8">
    <header-directive></header-directive>
    <div ng-if="vm.posts.length" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Text</th> 
                    <th>Author</th>
                    <th>Type of attack</th>
                    <th>Date Posted</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in vm.posts | startFrom: vm.pagination.getCurrentPage() * vm.pagination.getResultsPerPage() | limitTo: vm.pagination.getResultsPerPage()">
                    <td>{{post.title}}</td>
                    <td>{{post.text.substring(0,50)}} ...</td>
                    <td>{{vm.isLoggedInAsAdmin ? post.__user.username : vm.currentUser}}</td>
                    <td>{{post.type_of_attack}}</td>
                    <td>{{post.date | date:'medium'}}</td>
                    <td>
                    	<input type="submit" value="View" ui-sref="viewpost({id: post._id})" class="btn btn-primary" />
                    </td>
                    <td ng-if="vm.isLoggedInAsAdmin">
                        <input type="submit" value="Publish" ng-model="vm.posts[$index]" ng-click="vm.changePublishStatus(post._id, $index)" class="btn btn-success" ng-disabled="vm.statusChangedForPosts[$index]" />
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <ul class="pagination">
                            <li ng-hide="vm.pagination.getCurrentPage() === 0"><a href="#" ng-click="vm.pagination.prevPage()">« Prev</a></li>
                            <li ng-repeat="n in [] | range: vm.pagination.numOfPages" ng-class="{active: n == vm.pagination.getCurrentPage()}" ng-click="vm.pagination.setCurrentPage(n)"><a href="#">{{n+1}}</a></li>
                            <li ng-hide="vm.pagination.getCurrentPage() + 1 >= vm.pagination.numOfPages"><a href="#" ng-click="vm.pagination.nextPage()">Next »</a></li>
                        </ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div> 
    <div ng-if="!vm.posts.length" class="alert alert-info">You don't have any notifications!</div>
</div>